* {
  margin: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  background-color: #fff8f3;
}

/* GENERAl ELEMENTS */

.section {
  width: 70%;
  margin: 0 auto;
  padding: 8% 0;
  transition: all 1s;
}

.section--hidden {
  opacity: 0;
}

.section-title {
  color: #2eb086;
  text-align: center;
  margin-top: 3em;
}

.section-text {
  padding: 5% 17.15%;
  line-height: 1.5;
}

.btn-scrollDown {
  margin: 5em auto;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-align: center;

  position: relative;
  bottom: -8em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn-scrollDown:hover {
  color: #2eb086;
}

p {
  color: #04293a;
  margin-top: 1.5rem;
  text-align: center;
}

/* navbar */

.nav {
  height: 20%;
  width: 100%;
  padding: 3% 0;
  z-index: 100;
  position: sticky;
}

.nav.sticky {
  background: rgba(255, 248, 243, 0.9);
  position: fixed;
  width: 100%;
  height: 12%;
  transform: translateX(-10%);
  padding: 2% 0;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
  padding: 0;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1em;
  font-weight: 400;
  color: #949693;
  text-decoration: none;
  display: block;
  transition: all 0.5s;
}

.nav-link:hover {
  color: #2eb086;

  transition: all 0.7s;
}

/* header-section */

.header {
  width: 80%;
  height: 50%;
  margin: 0 auto 20%;
}

.header-title {
  padding: 10% 0 15%;
}

h1 {
  font-size: 5em;
  font-weight: 800;
  line-height: 3.3rem;
  position: absolute;
  left: 30%;
  top: 35%;
  transform: translateX(-1%);
  transition: all 5s;
}

.heading-thin {
  font-size: 3rem;
  font-weight: 300;
}

.heading-thick:hover {
  color: #2eb086;
  transition: all 0.7s;
}

h4 {
  font-size: 0.9em;
  color: #2eb086;

  grid-row: 4;
  padding: 0.8%;
  position: absolute;
  top: 55%;
  left: 29.7%;
  transform: translateX(-1%);
}

h4:hover {
  font-size: 1.15em;
  transition: all 0.7s;
}

.header-image {
  position: absolute;
  right: 30%;
  width: 13vw;
  border-radius: 50%;
  grid-column: 3;
}

.fixed {
  transform: translateY(-40%);
  transition: all 0.7s;
}

.roll {
  transform: translateY(-60%);
  transition: all 0.7s;
}

.header-icon {
  font-size: 0.9rem;
  border: none;
  background: transparent;
  color: #cdd0cb;
  position: fixed;
  bottom: 10%;
  right: 10%;
}

.header-icon:hover {
  color: #2eb086;
}

/* about me */

.about-me {
  height: 100vh;
}

/* projects */

.cards-slider {
  width: 45vw;
  height: 30vw;
  position: relative;
  overflow: hidden;
  margin: 1.3em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-card {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 3%;

  object-fit: cover;

  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-img {
  cursor: pointer;
}

/* card btns */
.cards-btn {
  position: relative;
  top: 48%;
  z-index: 10;
  border: none;
  background: transparent;
  font-size: 1.3rem;
  color: #0d694c;
  cursor: pointer;
}

.cards-btn:hover {
  color: #2eb086;
}

.cards-btn-left {
  bottom: 13rem;
  right: 8%;
}

.cards-btn-right {
  bottom: 13rem;
  left: 99%;
}

/* modal window */

.modal-window {
  width: 40vw;
  height: 24vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 248, 243, 0.9);
  padding: 1.5%;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.6s;
}

.modal-text {
  margin: auto;
  padding: 12% 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2000;
}

.modal-text h3 {
  color: #0d694c;
}

.modal-window > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-link {
  text-decoration: none;
  color: #2eb086;
  font-weight: bold;
}

.modal-btn {
  position: fixed;
  right: 2%;
  top: 2.5%;
  border: none;
  background: transparent;
  font-family: 'Hubballi', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  color: #2eb086;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 225, 225, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* contact me */

.contact-icons {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.contact-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.contact-icon {
  color: #0d694c;

  text-align: center;
  font-size: 1.8rem;
}

.contact-icon:hover {
  color: #2eb086;
}

/* footer*/

.footer {
  text-align: center;
  font-size: 0.5rem;
  padding: 0 0 3rem;
}

/*/////////////////////////*/
/* responsive - mobile */

@media only screen and (max-width: 700px) {
  .nav {
    display: none;
  }

  .btn-scrollDown {
    position: absolute;
    left: 50%;
    bottom: -3%;
  }

  .header {
    padding: 0;
    margin: 8% 0;
    height: 100vh;
  }

  .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
  }

  h1 {
    font-size: 4rem;
    position: absolute;
    left: 4rem;
    top: 18rem;
  }

  .heading-thin {
    font-size: 3rem;
    font-weight: 300;
  }
  h4 {
    position: absolute;
    left: 4rem;
    top: 27rem;
    width: 65%;
    font-size: 0.9rem;
  }

  h4:hover {
    font-size: 0.9rem;
  }

  .header-image {
    margin: 5%;
    width: 9rem;

    position: static;
  }

  .fixed {
    transform: translateX(80%) translateY(20%);
  }

  .roll {
    transform: translateX(80%);
  }

  .section {
    width: 100vw;
    height: 100%;
    margin-bottom: 10%;
  }

  .section-title {
    margin-top: 10%;
  }

  p {
    text-align: justify;
    font-size: 16px;
  }

  h2 {
    font-size: 20px;
  }

  .cards-slider {
    width: 75vw;
    height: 50vw;
    transform: translateX(-5%);

    margin: 60% 0 60%;
  }

  .cards-btn-left {
    bottom: 15.5rem;
    right: 20%;
  }

  .cards-btn-right {
    bottom: 15.5rem;
    left: 101%;
  }

  .modal-window {
    width: 80vw;
    height: 60vw;
  }

  .modal-text {
    font-size: 16px;
    margin: 0 auto;
    padding: ;
    width: 100;
    height: 100%;
    text-align: center;
    z-index: 2000;
  }

  .modal-text p {
    text-align: center;
  }

  .footer {
    margin-bottom: 30%;
  }
}
