* {
  margin: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  background-color: #fff8f3;
}

/* GENERAl ELEMENTS */

.section {
  width: 70%;
  margin: 0 auto;
  padding: 8% 0;
  transition: all 0.4s;
}

.section--hidden {
  opacity: 0;
}

.section-title {
  color: #2eb086;
  text-align: center;
  margin-top: 3em;
}

.section-text {
  padding: 5% 17.15%;
  line-height: 1.5;
}

.btn-scrollDown {
  margin: 5em auto;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-align: center;

  position: relative;
  bottom: -8em;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #000000;
  transform: translateX(-50%);
}

.btn-scrollDown:hover {
  color: #2eb086;
}

p {
  color: #04293a;
  margin-top: 1.5rem;
  text-align: center;
}

/* navbar */

.nav {
  height: 20%;
  width: 100%;
  padding: 3% 0;
  z-index: 100;
  position: sticky;
}

.nav-icon {
  height: 30px;
  display: none;
  position: absolute;
  top: 10%;
  left: 20%;
  border: none;
  background: transparent;
  opacity: 1;
  transition: all 0.4s;
  cursor: pointer;
  font-size: 1.5rem;
  color: #949693;
  z-index: 3000;
}

.rotate {
  transform: rotate(90deg);
  opacity: 0.3;
  transition: all 0.4s;
}

.nav.sticky {
  background: rgba(255, 248, 243, 0.9);
  position: fixed;
  width: 100%;
  height: 12%;
  transform: translateX(-10%);
  padding: 2% 0;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
  padding: 0;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1em;
  font-weight: 400;
  color: #949693;
  text-decoration: none;
  display: block;
  transition: all 0.5s;
}

.nav-link:hover {
  color: #2eb086;

  transition: all 0.7s;
}

/* header-section */

.header {
  width: 80%;
  height: 50%;
  margin: 0 auto 20%;
}

.header-title {
  padding: 10% 0 15%;
}

h1 {
  font-size: 5em;
  font-weight: 800;
  line-height: 3.3rem;
  position: absolute;
  left: 30%;
  top: 35%;
  transform: translateX(-1%);
  transition: all 5s;
}

.heading-thin {
  font-size: 3rem;
  font-weight: 300;
}

.heading-thick:hover {
  color: #2eb086;
  transition: all 0.7s;
}

h4 {
  font-size: 0.9em;
  font-weight: 700;
  color: #2eb086;
  padding: 0.8%;
  position: absolute;
  top: 55%;
  left: 29.7%;
  transform: translateX(-1%);
}

h4:hover {
  font-size: 1.15em;
  transition: all 0.7s;
}

.header-image {
  position: absolute;
  right: 30%;
  width: 13vw;
  border-radius: 50%;
}

.fixed {
  transform: translateY(-40%);
  transition: all 0.7s;
}

.roll {
  transform: translateY(-60%);
  transition: all 0.7s;
}

.header-icon {
  font-size: 0.9rem;
  border: none;
  background: transparent;
  color: #cdd0cb;
  position: fixed;
  bottom: 10%;
  right: 10%;
}

.header-icon:hover {
  color: #2eb086;
}

/* about me */

.about-me {
  height: 100vh;
}

/* projects */

.cards-slider {
  width: 45vw;
  height: 30vw;
  position: relative;
  overflow: hidden;
  margin: 1.3em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-card {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 3%;

  object-fit: cover;

  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-img {
  cursor: pointer;
}

/* card btns */

.cards-slider-btn {
  position: static;
  margin: 0 auto -5%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140%;
  transform: translateY(-15rem);
}

.cards-btn {
  z-index: 10;
  border: none;
  background: rgba(46, 176, 134, 0.1);
  border-radius: 50%;
  font-size: 1rem;
  color: #0d694c;
  cursor: pointer;
  padding: 3% 3.8%;
  text-align: center;
}
.cards-btn:hover {
  color: #2eb086;
}

.cards-btn-left {
  bottom: 13rem;
  right: 8%;
}

.cards-btn-right {
  bottom: 13rem;
  left: 99%;
}

/* modal window */

.modal-window {
  width: 40vw;
  height: 24vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 248, 243, 0.9);
  padding: 1.5%;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.6s;
}

.modal-text {
  margin: auto;
  padding: 12% 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2000;
}

.modal-text h3 {
  color: #0d694c;
}

.modal-window > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-link {
  text-decoration: none;
  color: #2eb086;
  font-weight: bold;
}

.modal-btn {
  height: 5%;
  position: fixed;
  top: 4%;
  right: 7%;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal-button-icon {
  position: fixed;
  height: 20px;
  border: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 225, 225, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* contact me */

.contact-icons {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.contact-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.contact-icon {
  color: #0d694c;

  text-align: center;
  font-size: 1.8rem;
}

.contact-icon:hover {
  color: #2eb086;
}

/* footer*/

.footer {
  text-align: center;
  font-size: 0.5rem;
  padding: 0 0 3rem;
}

/*/////////////////////////*/
/* responsive - mobile */

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .nav {
    display: none;
  }

  .btn-scrollDown {
    position: absolute;
    left: 50%;
    bottom: -3%;
    color: #2eb086;
  }

  .header {
    padding: 0;
    margin: 8% 0;
    height: 100vh;
  }

  .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
  }

  h1 {
    font-size: 4rem;
    position: absolute;
    left: 4rem;
    top: 15rem;
  }

  .heading-thin {
    font-size: 3rem;
    font-weight: 300;
  }
  h4 {
    position: absolute;
    left: 4rem;
    top: 23rem;
    width: 65%;
    font-size: 0.9rem;
  }

  h4:hover {
    font-size: 0.9rem;
  }

  .header-image {
    margin: 5%;
    width: 7rem;

    position: static;
  }

  .header-icon {
    bottom: 4%;
    color: #2eb086;
    background: rgba(255, 248, 243, 0.6);
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.6rem;
    text-align: center;
    border-radius: 50%;
  }

  .fixed {
    transform: translateX(80%) translateY(30%);
  }

  .roll {
    transform: translateX(80%);
  }

  .section {
    width: 95%;
    height: 100%;
    margin-bottom: 10%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .section-title {
    margin-top: 20%;
    padding-top: 10%;
  }

  p {
    text-align: justify;
    font-size: 16px;
  }

  h2 {
    font-size: 20px;
  }

  .section-text {
    padding: 10% 8% 30%;
  }

  .cards-slider {
    width: 75vw;
    height: 45vw;

    margin: 20% 0 0;
  }

  .cards-slider-btn {
    transform: translateY(2rem);
    gap: 90%;
  }

  .cards-btn {
    padding: 3% 4.5%;
  }

  .cards-btn-left {
  }

  .cards-btn-right {
  }

  .modal-window {
    width: 90vw;
    height: 75vw;
  }

  .modal-text {
    font-size: 16px;
    margin: 0 auto;
    padding: ;
    width: 100;
    height: 100%;
    text-align: center;
    z-index: 2000;
  }

  .modal-text p {
    text-align: center;
  }

  .footer {
    width: 50%;
    padding: 0 0 1rem;
  }
}

/* big screen*/

@media only screen and (min-width: 1420px) {
  .cards-slider {
    margin: 0 auto -10%;
  }

  .section {
    margin-bottom: 20%;
  }

  h4 {
    top: 50%;
  }

  .btn-scrollDown {
    bottom: -14em;
  }
}

/* ipad / tablet*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .nav-icon {
    display: block;
  }

  .nav-links {
    visibility: hidden;
    display: flex;
    position: absolute;
    top: 4.4rem;
    left: 9rem;
    width: 70%;

    flex-direction: row;
    align-items: flex-start;
    gap: 6rem;
    transition: all 0.6s;
  }

  .nav.sticky {
    visibility: hidden;
    position: absolute;
  }

  .move-nav {
    transform: translateX(-15%);
    opacity: 0;
    transition: all 0.6s;
  }

  .header {
    margin-bottom: 80%;
  }

  .header-image {
    top: 35%;
    right: 18%;
    width: 20vw;
    border-radius: 50%;
  }

  h1 {
    font-size: 6em;
    font-weight: 800;
    line-height: 4rem;
    position: absolute;
    left: 27%;
    top: 50%;
    transition: all 5s;
  }

  .heading-thin {
    font-size: 3.5rem;
  }

  h4 {
    position: absolute;
    left: 27%;
    top: 75%;
    font-size: 0.98rem;
  }

  .btn-scrollDown {
    bottom: -43rem;
    color: #2eb086;
  }

  .section {
    width: 70%;
    margin-bottom: 0;
    padding-bottom: 1%;
  }

  .section-text {
    padding: 5% 5% 20%;
    text-align: justify;
  }

  .cards-slider {
    width: 60vw;
    height: 45vw;
    margin: 20% 0 0;
  }

  .cards-slider-btn {
    margin-top: 7%;
    transform: translateX(-1rem);
    gap: 80%;
  }

  .cards-btn {
    padding: 3% 4.5%;
  }

  .footer {
    width: 50%;
    padding: 0 0 3rem;
  }
}

/* GOOGLE FONTS*/

/* manrope-200 - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/manrope-v11-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/manrope-v11-latin-200.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/manrope-v11-latin-200.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/manrope-v11-latin-200.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/manrope-v11-latin-200.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/manrope-v11-latin-200.svg#Manrope')
      format('svg'); /* Legacy iOS */
}
/* manrope-300 - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/manrope-v11-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/manrope-v11-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/manrope-v11-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/manrope-v11-latin-300.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/manrope-v11-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/manrope-v11-latin-300.svg#Manrope')
      format('svg'); /* Legacy iOS */
}
/* manrope-regular - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/manrope-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/manrope-v11-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/manrope-v11-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/manrope-v11-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/manrope-v11-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/manrope-v11-latin-regular.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-700 - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/manrope-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/manrope-v11-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/manrope-v11-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/manrope-v11-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/manrope-v11-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/manrope-v11-latin-700.svg#Manrope')
      format('svg'); /* Legacy iOS */
}
/* manrope-800 - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/manrope-v11-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/manrope-v11-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/manrope-v11-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/manrope-v11-latin-800.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/manrope-v11-latin-800.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/manrope-v11-latin-800.svg#Manrope')
      format('svg'); /* Legacy iOS */
}
